<link rel="import" href="../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../bower_components/ros-websocket/ros-websocket.html">
<link rel="import" href="../../../../../bower_components/ros-topic/ros-topic.html">

<link rel="import" href="./components/map-item.html">

<dom-module id="map-gallery">
    <template>
        <style>
            :host {
                display: block;
            }

            .gallery {
                display: flex;
                flex-wrap: wrap;
                /* Compensate for excess margin on outer gallery flex items */
                margin: -1rem -1rem;
                margin-bottom: 1vh;
            }

            /*

            The following rule will only run if your browser supports CSS grid.

            Remove or comment-out the code block below to see how the browser will fall-back to flexbox styling.

            */

            @supports (display: grid) {
                .gallery {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
                    grid-gap: 2rem;
                }

                .gallery {
                    margin: 0;
                    margin-bottom: 1vh;
                }
            }
        </style>
        
        <!-- Connect to ROS Web Socket node -->
        <ros-websocket auto id="ros" ros="{{ros}}" url="{{url}}" on-connection="_handleConnection"
        on-close="_handleClose" on-error="_handleError"></ros-websocket>
        
        <!-- Register to cmd_vel topic published by turtlebot3_teleop node -->
        <ros-topic id="robotListTopic" 
            ros="{{ros}}" 
            topic="/turtlebot_service/map_manager/list" 
            msg-type="turtlebot_service/MapList"
            auto="true"
            on-message="_handleMessage">
        </ros-topic>

        <div class="gallery">
            <template id="mapListTemplate" is="dom-repeat" items="{{maps}}">
                <map-item robot-id=[[item.robot_id]] file-name=[[item.file_name]] time-stamp=[[item.time_stamp]]></map-item>
            </template>
        </div>
    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class MapGallery extends Polymer.Element {
            static get is() { return 'map-gallery'; }
            static get properties() {
                return {
                    maps: {
                        type: Array,
                        value: []
                    }
                };
            }
            _handleMessage(msg) {
                this.maps = msg.detail.maps.reverse();console.log(this.maps);
                this.$.mapListTemplate.render();
            }
        }
        window.customElements.define(MapGallery.is, MapGallery);
    </script>
</dom-module>
