<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../mod-auth/services/service-account.html">

<!-- Style import -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium+Web:300">

<dom-module id="sidebar-nav">
    <template>
        <style>
            :host {
                display: block;
            }
            .area {
                float: left;
                width: 100%;
                height: 100%;
            }
            .nav-bar {
                position: fixed;
                background: #343a40;
                top: 0;
                bottom: 0;
                height: 100%;
                left: 0;
                width: 12vw;
                overflow: hidden;
                -webkit-transition: width .05s linear;
                transition: width .05s linear;
                --webkit-transform: translate(0) scale(1,1);
                z-index: 1000;
            }
            .nav-bar .nav-logo img {
                width: 100%;
            }
            .nav-bar>ul {
                margin: 1vh 0;
            }
            .nav-bar li {
                position: relative;
                display: block;
                width: 12vw;
            }
            .nav-bar li>a {
                position: relative;
                display: table;
                border-collapse: collapse;
                border-spacing: 0;
                color: white;
                font-family: arial;
                font-size: 14px;
                text-decoration: none;
                --webkit-transform: translateZ(0) scale(1,1);
                -webkit-transition: all .1s linear;
                transition: all .1s linear;
                height: 50px;
            }
            .nav-bar li>a:hover, .nav-bar li>a:focus {
                text-decoration: none;
            }
            .nav-bar>ul.logout {
                position: absolute;
                left: 0;
                bottom: 0;
            }
            .nav-bar .nav-icon {
                position: relative;
                display: table-cell;
                width: 4vw;
                height: 3vh;
                text-align: center;
                vertical-align: middle;
                font-size: 18px;
            }
            .nav-bar .nav-text {
                position: relative;
                display: table-cell;
                vertical-align: middle;
                width: 8vw;
                font-family: 'Titillium Web', sans-serif;
            }
            .nav-bar li:hover>a,nav.nav-bar li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
                color: #fff;
                background-color: #5fa2db;
            }
            nav {
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                -o-user-select: none;
                user-select: none;
            }
            nav ul,nav li {
                outline: 0;
                margin: 0;
                padding: 0;
            }
            nav ul {
                padding-top: 5vh;
            }
            @font-face {
                font-family: 'Titillium Web';
                font-style: normal;
                font-weight: 300;
                src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
            }
        </style>
        
        <div class="area" id="area">
            <nav class="nav-bar">
                <ul>
                    <li class="nav-logo">
                        <img src="[[logoImg]]"/>
                    </li>
                    <li class="has-subnav">
                        <a href="/dashboard">
                            <iron-icon class="nav-icon" icon="dashboard"></iron-icon>
                            <span class="nav-text">
                                Dashboard
                            </span>
                        </a>
                    </li>
                    <li class="has-subnav">
                        <a href="/dashboard/list">
                            <iron-icon class="nav-icon" icon="android"></iron-icon>
                            <span class="nav-text">
                                Turtlebots
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="/dashboard/maps">
                            <iron-icon class="nav-icon" icon="content-copy"></iron-icon>
                            <span class="nav-text">
                                Scanned maps
                            </span>
                        </a>
                    </li>
                    <li class="has-subnav">
                        <a href="/dashboard/systems">
                            <iron-icon class="nav-icon" icon="settings"></iron-icon>
                            <span class="nav-text">
                                Systems
                            </span>
                        </a>
                    </li>
                </ul>
                <ul class="logout">
                    <li>
                        <a href="#" on-click="_logout">
                            <iron-icon class="nav-icon" icon="power-settings-new"></iron-icon>
                            <span class="nav-text">
                                Logout
                            </span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        
        <!-- Ajax component for login service -->
        <service-account id="serviceAccount" on-response="_logoutSuccess"
        on-error="_logoutError"></service-account>
    </template>
    
    <script>
        /**
        * @customElement
        * @polymer
        */
        class SidebarNav extends Polymer.Element {
            static get is() { return 'sidebar-nav'; }
            static get properties() {
                return {
                    logoImg: {
                        type:  String,
                        value: function () {
                            return this.resolveUrl("../img/logo-without-background.png");
                        }
                    },};
            }
            _logout() {
                this.$.serviceAccount.logout();
            }
            _logoutSuccess() {
                this._deleteCookie('authorization');
                location.reload();
            }
            _logoutError() {
                location.reload();
            }
            _deleteCookie(name) {
                document.cookie = name +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
            }
        }
        window.customElements.define(SidebarNav.is, SidebarNav);
    </script>
</dom-module>
