<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../bower_components/paper-button/paper-button.html">

<!-- Style import -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600">

<dom-module id="turtlebot-list">
    <template>
        <style>
            :host {
                display: block;
                font-family: 'Open Sans', sans-serif;
            }
            h1 {
                position: relative;
                color: white;
                padding-left: 40px;
            }
            table {
                background: #012B39;
                border-radius: 0.25em;
                border-collapse: collapse;
                margin: 1em;
            }
            th {
                border-bottom: 1px solid #364043;
                color: #E2B842;
                font-size: 0.85em;
                font-weight: 600;
                padding: 0.8em 1.5em;
                text-align: left;
            }
            td {
                color: #fff;
                font-weight: 400;
                padding: 0.65em 1em;
            }
            .disabled td {
                color: #4F5F64;
            }
            tbody tr {
                transition: background 0.25s ease;
            }
            tbody tr:hover {
                background: #014055;
            }
            .turtlebot-connect {
                background: #014055;
            }
        </style>

        <!-- HTML goes here-->
        <table><h1>Turtlebot list</h1>
            <thead>
            <tr>
                <th>ID
                <th>Name
                <th>Model
                <th>SLAM
            </thead>
            <tbody>
            <tr>
                <td>1
                <td>tb_01
                <td>Burger
                <td><paper-button class="turtlebot-connect" on-click="_connect">connect</paper-button>
            <tr>
                <td>2
                <td>tb_02
                <td>Burger
                <td><paper-button class="turtlebot-connect">connect</paper-button>
            <tr>
                <td>3
                <td>tb_03
                <td>Burger
                <td><paper-button class="turtlebot-connect">connect</paper-button>
            <tr class="disabled">
                <td>4
                <td>tb_04
                <td>Burger
            </tbody>
        </table>
    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class TurtlebotList extends Polymer.Element {
            static get is() { return 'turtlebot-list'; }
            static get properties() {
                return {};
            }
	    _connect() {
	    	window.location.href = '/turtlebot';
	    }
        }
        window.customElements.define(TurtlebotList.is, TurtlebotList);
    </script>
</dom-module>
