<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../bower_components/ros-websocket/ros-websocket.html">
<link rel="import" href="../../../../bower_components/ros-topic/ros-topic.html">
<link rel="import" href="../../../../bower_components/ros-service/ros-service.html">
<link rel="import" href="../../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../../bower_components/paper-slider/paper-slider.html">
<link rel="import" href="../../../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../../bower_components/iron-icons/iron-icons.html">

<dom-module id="turtlebot-controller">
    <template>
        <style is="custom-style" include="iron-flex"></style>
        <style>
            :host {
                display: block;
            }
            .layout .horizontal {
                margin-top: 6px;
            }
            paper-slider {
                --paper-slider-input: {
                    width: 100px;
                }
                width: 100%;
            }
            paper-button {
                width: 100px;
                background-color: #eee;
                user-select: none;
            }
            paper-button.stop {
                background-color: red;
            }
            #driving {
                display: inline-block;
            }
            #driving h1{
                text-align: center;
            }
            #driving p{
                text-align: center;
            }
        </style>

        <!-- Connect to ROS Web Socket node -->
        <ros-websocket auto id="ros" ros="{{ros}}"
                       url="{{url}}"
        ></ros-websocket>

        <!-- Register to cmd_vel topic -->
        <ros-topic
                id="cmdVelTopic"
                ros="{{ros}}"
                topic="/cmd_vel"
                msg-type="geometry_msgs/Twist"
        ></ros-topic>

        <paper-card id="driving" class="layout vertical">
            <div class="card-content">

                <div>Run speed: <span id="ratingsLabel" class="caption">[[runSpeed]]</span></div><br>
                <paper-slider id="run-speed" pin snaps max="0.22" max-markers="0.22" step="0.02" value="{{runSpeed}}"></paper-slider>
                <div>Turn speed: <span id="ratingsLabel" class="caption">[[turnSpeed]]</span></div><br>
                <paper-slider id="turn-speed" pin snaps max="0.22" max-markers="0.22" step="0.02" value="{{turnSpeed}}"></paper-slider>

                <div class="layout horizontal">
                    <div class="flex"></div>
                    <paper-button raised noink on-down="_startForward" on-up="_endBaseCommand"><iron-icon icon="arrow-upward"></iron-icon></paper-button>
                    <div class="flex"></div>
                </div>

                <div class="layout horizontal">
                    <paper-button raised noink on-down="_startLeft" on-up="_endBaseCommand"><iron-icon icon="undo"></iron-icon></paper-button>
                    <paper-button raised class="stop" on-down="_stop" on-up="_endBaseCommand">STOP</paper-button>
                    <paper-button raised noink on-down="_startRight" on-up="_endBaseCommand"><iron-icon icon="redo"></iron-icon></paper-button>
                </div>

                <div class="layout horizontal">
                    <div class="flex"></div>
                    <paper-button raised noink on-down="_startBack" on-up="_endBaseCommand"><iron-icon icon="arrow-downward"></iron-icon></paper-button>
                    <div class="flex"></div>
                </div>

                <p>{{status}}</p>
            </div>
        </paper-card>
    </template>
    <script>
        class TurtlebotController extends Polymer.Element {
            static get is() { return 'turtlebot-controller'; }
            static get properties() {
                return {
                    turtlebotId:{
                        type: String
                    },
                    runSpeed: {
                        type: Number,
                        value: 1
                    },
                    turnSpeed: {
                        type: Number,
                        value: 1
                    }
                };
            }

            _stop(evt) {
                evt.preventDefault();
                this.status = 'Driving forward...';
                var cmdVelTopic = this.$.cmdVelTopic;
                if (this.baseCommand) {
                    clearInterval(this.baseCommand);
                }
                var that = this;
                this.baseCommand = setInterval(function() {
                    cmdVelTopic.publish({
                        linear: {
                            x: 0,
                            y: 0,
                            z: 0
                        },
                        angular: {
                            x: 0,
                            y: 0,
                            z: 0
                        }
                    });
                }, 10);
            }

            _startForward(evt) {
                evt.preventDefault();
                this.status = 'Driving forward...';
                var cmdVelTopic = this.$.cmdVelTopic;
                if (this.baseCommand) {
                    clearInterval(this.baseCommand);
                }
                var that = this;
                this.baseCommand = setInterval(function() {
                    cmdVelTopic.publish({
                        linear: {
                            x: that.runSpeed,
                            y: 0,
                            z: 0
                        },
                        angular: {
                            x: 0,
                            y: 0,
                            z: 0
                        }
                    });
                }, 10);
            }

            _startBack(evt) {
                evt.preventDefault();
                this.status = 'Driving forward...';
                var cmdVelTopic = this.$.cmdVelTopic;
                if (this.baseCommand) {
                    clearInterval(this.baseCommand);
                }
                var that = this;
                this.baseCommand = setInterval(function() {
                    cmdVelTopic.publish({
                        linear: {
                            x: -(that.runSpeed),
                            y: 0,
                            z: 0
                        },
                        angular: {
                            x: 0,
                            y: 0,
                            z: 0
                        }
                    });
                }, 10);
            }

            _startLeft(evt) {
                evt.preventDefault();
                this.status = 'Turning left...';
                var cmdVelTopic = this.$.cmdVelTopic;
                var that = this;
                this.baseCommand = setInterval(function() {
                    cmdVelTopic.publish({
                        linear: {
                            x: 0,
                            y: 0,
                            z: 0
                        },
                        angular: {
                            x: 0,
                            y: 0,
                            z: that.turnSpeed
                        }
                    });
                }, 10);
            }

            _startRight(evt) {
                evt.preventDefault();
                this.status = 'Driving forward...';
                var cmdVelTopic = this.$.cmdVelTopic;
                if (this.baseCommand) {
                    clearInterval(this.baseCommand);
                }
                var that = this;
                this.baseCommand = setInterval(function() {
                    cmdVelTopic.publish({
                        linear: {
                            x: 0,
                            y: 0,
                            z: 0
                        },
                        angular: {
                            x: 0,
                            y: 0,
                            z: -(that.turnSpeed)
                        }
                    });
                }, 10);
            }

            _endBaseCommand(evt) {
                this.status = 'Stopped driving.';
                clearInterval(this.baseCommand);
            }
        }

        window.customElements.define(TurtlebotController.is, TurtlebotController);
    </script>
</dom-module>
