<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">


<dom-module id="turtlebot-pose-indicator">
    <template>
        <style is="custom-style" include="iron-flex"></style>
        <style>
        </style>

        <paper-card>
            <div class="card-content">

            </div>
        </paper-card>
    </template>

    <script>
        class TurtlebotPoseIndicator extends Polymer.Element {
            static get is() { return 'turtlebot-pose-indicator'; }
        }

        window.customElements.define(TurtlebotPoseIndicator.is, TurtlebotPoseIndicator);
    
    </script>
</dom-module>