<link rel="import" href="../../../../../bower_components/ros-websocket/ros-websocket.html">
<link rel="import" href="../../../../../bower_components/ros-topic/ros-topic.html">
<link rel="import" href="../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../bower_components/paper-button/paper-button.html">

<link rel="import" href="components/turtlebot-list-table.html">
<link rel="import" href="components/turtlebot-detail-card.html">

<dom-module id="turtlebot-list">
    <template>
        
        <style>
            :host {
                display: block;
            }
        </style>

        <turtlebot-detail-card></turtlebot-detail-card>
        <turtlebot-list-table></turtlebot-list-table>

    </template>
    
    <script>
        /**
        * @customElement
        * @polymer
        */
        class TurtlebotList extends Polymer.Element {
            static get is() { return 'turtlebot-list'; }
            static get properties() {
                return {};
            }
            ready() {
                super.ready();
            }
        }
        window.customElements.define(TurtlebotList.is, TurtlebotList);
    </script>
</dom-module>