<link rel="import" href="../../../../../bower_components/ros-websocket/ros-websocket.html">
<link rel="import" href="../../../../../bower_components/ros-topic/ros-topic.html">
<link rel="import" href="../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../bower_components/paper-button/paper-button.html">

<link rel="import" href="components/turtlebot-list-table.html">
<link rel="import" href="components/turtlebot-detail-card.html">

<dom-module id="turtlebot-list">
    <template>
        
        <style>
            :host {
                display: block;
            }
            .detail-card {
                margin: 1vw;
            }
            .list-table {
                margin: 1vw;
            }
            paper-button#refresh-table {
                margin: 1vw;
                color: white;
                background: #3B3A4D;
            }
        </style>

        <div id="detailCard" hidden="true">
            <turtlebot-detail-card class="detail-card" detail-info="{{detailInfo}}"></turtlebot-detail-card>
        </div>
        
        <div class="wrapper">
            <turtlebot-list-table id="turtlebotListTable" class="list-table" detail-info="{{detailInfo}}" on-show-detail="_showDetail"></turtlebot-list-table>
        </div>
        
        <paper-button id="refresh-table" on-click="_refreshTable">Refresh</paper-button>
    </template>
    
    <script>
        /**
        * @customElement
        * @polymer
        */
        class TurtlebotList extends Polymer.Element {
            static get is() { return 'turtlebot-list'; }
            static get properties() {
                return {
                    detailInfo: {
                        type: Object,
                        value: {}
                    },
                };
            }
            _showDetail(e) {
                if (this.$.detailCard.hidden) {
                    this.$.detailCard.hidden = false;
                }
                this.detailInfo = e.detail;
            }
            _refreshTable(e) {
                // Select tutlebot table
                var element = this.$.turtlebotListTable;

                // Clone turtlebot table
                var newElement = element.cloneNode(true);
                for(var i in element.properties) {
                    newElement[i] = element[i];
                }

                // Replace the old turtlebot table with new one
                element.parentNode.appendChild(newElement);
                element.remove();
                this.$.turtlebotListTable = newElement;
            }
        }
        window.customElements.define(TurtlebotList.is, TurtlebotList);
    </script>
</dom-module>