<link rel="import" href="../../../../../bower_components/ros-websocket/ros-websocket.html">
<link rel="import" href="../../../../../bower_components/ros-topic/ros-topic.html">
<link rel="import" href="../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../../../bower_components/paper-button/paper-button.html">

<link rel="import" href="components/turtlebot-list-table.html">
<link rel="import" href="components/turtlebot-detail-card.html">

<dom-module id="turtlebot-list">
    <template>
        
        <style>
            :host {
                display: block;
            }
            .detail-card {
                margin: 1vw;
            }
            .list-table {
                margin: 1vw;
            }
        </style>

        <div id="detailCard" hidden="true">
            <turtlebot-detail-card class="detail-card" detail-info="{{detailInfo}}"></turtlebot-detail-card>
        </div>
        
        <turtlebot-list-table class="list-table" detail-info="{{detailInfo}}" on-show-detail="_showDetail"></turtlebot-list-table>

    </template>
    
    <script>
        /**
        * @customElement
        * @polymer
        */
        class TurtlebotList extends Polymer.Element {
            static get is() { return 'turtlebot-list'; }
            static get properties() {
                return {
                    detailInfo: {
                        type: Object,
                        value: {}
                    },
                };
            }
            _showDetail(e) {
                if (this.$.detailCard.hidden) {
                    this.$.detailCard.hidden = false;
                }
                this.detailInfo = e.detail;
            }
        }
        window.customElements.define(TurtlebotList.is, TurtlebotList);
    </script>
</dom-module>